
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste Des Factures</h4>

          <div ngbDropdown>
            <form  class="form-inline waves-light" mdbWavesEffect>
              <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
              </div>
              <button class=" btn btn-inline-dnger" type="button"  ngbTooltip="Ajouter" container="body" >
                <i class=" tim-icons icon-simple-add"> </i>
              </button>
              <button class=" btn btn-inline-dnger" type="button"  ngbTooltip="PDF">
                <i class=" tim-icons icon-cloud-download-93"> </i>
              </button>
            </form>

              <div
                aria-labelledby="dropdownMenuLink"
                class=" dropdown-menu-right"
                ngbDropdownMenu
              >

              </div>

            </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Date DE CREATION</th>
                  <th>CLIENT</th>
                  <th>DATE D'EHERANCE</th>
                  <th>TOTALE TTC</th>
                  <th>TOTALE HT</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
