<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h3 class="title">Details du client</h3>

          <div class="button-row">
            <a class="title" class="disabled" color="" [routerLink]="['/clients']"><button class="btn btn-danger btn-link">Liste</button></a>/  Details
          </div>
  </div>
        <div class="card-body">
          <form>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Nom </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{client.Nom}}"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Prenom </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{client.Prenom}}"

                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{client.Email}}"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Telephone </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{client.Telephone}}"

                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{client.Adresse}}"

                  />
                </div>
              </div>

              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> ville </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{client.Ville}}"

                  />
                </div>
              </div>

            </div>


            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Code Postale </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{client.CodePostal}}"

                  />
                </div>
              </div>
              </div>

          </form>
        </div>
      </div>

    </div>
    <div class="col-md-12">


    </div>
  </div>
</div>

