<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h3 class="title">Modifier un client</h3>
        <div class="button-row">
          <a class="title" class="disabled" color="" [routerLink]="['/clients']"><button class="btn btn-danger btn-link">Liste</button></a> / Modifier
        </div>
      </div>

   <div class="card-body">
     <form [formGroup] ="ClientForm" (ngSubmit)="this[EventValue]">
        <div class="row">

          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label> Nom </label>
              <input type="hidden" formControlName="id">
              <input
              class="form-control"
              type="text"
              formControlName="Nom"
              placeholder="Nom"
              errorStateMatcher="matcher"
              />
              <div>
                <span *ngIf="ClientForm.controls.Nom.errors.required">Ce champs est requis</span>
            </div>
            </div>
          </div>

          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label> Prenom </label>
              <input
              type="text"
              class="form-control"
              formControlName="Prenom"
              placeholder="Prenom"
              />
              <div>
                <span  *ngIf="ClientForm.controls.Prenom.errors.required">Ce champs est requis</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label> Email </label>
              <input
              type="email"
              class="form-control"
              formControlName="Email"
              placeholder="dutti@gmail.com"
              />
              <div>
                <span  *ngIf="ClientForm.controls.Email.errors.required">Ce champs est requis</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label> Telephone </label>
              <input
              class="form-control"
              type="text"
              formControlName="Telephone"
              placeholder="0625143678"
              />
              <div>
                <span  *ngIf="ClientForm.controls.Telephone.errors.required">Ce champs est requis</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label > Adresse </label>
              <input
              class="form-control"
              type="text"
              formControlName="Adresse"
              placeholder="rue 17 Nr 07"
              />
              <div>
                <span  *ngIf="ClientForm.controls.Adresse.errors.required">Ce chapms est requis</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label > Ville </label>
              <input
              class="form-control"
              type="text"
              formControlName="Ville"
              placeholder="Tanger"
              />

              <div>
                <span  *ngIf="ClientForm.controls.Ville.errors.required"></span>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class=" col-md-4 pr-md-1">
            <div class=" form-group">

              <label> Code Postale </label>
              <input
              class="form-control"
              type="text"
              formControlName="CodePostal"
              placeholder="15090"
              />

              <div>
                <span  *ngIf="ClientForm.controls.CodePostale.errors.required">Ce champs est requis</span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
     <div class=" card-footer">
    <button class=" btn btn-fill btn-danger" type="submit" >{{this.EventValue}}</button>
       </div>
     </form>

   </div>

    </div>

  </div>
</div>

